*{
	margin:0;
	padding: 0;
	border: none;
	font-size: 1.5652vw;
	font-family:"Microsoft Yahei";
}

html,body{
	height: 100%;
}

#music{
	width: 15vw;
	height: 15vw;
	border: 5px solid #ef1639;
	position: fixed;
	top: 3vh;
	right: 4vw;
	z-index:5;
}

.page{
	position: absolute;
	height: 100%;
	width: 100%;
}

.page .bg{
	position: absolute;
	height: 100%;
	width: 100%;
	z-index: -1;
}

/*   page1    */
#page1{
	display: none;
}
#page1 .bg{
	background: url("../img/p1_bg.jpg") no-repeat center center;
	background-size: 100%;
}

#page1 .p1_lantern{
	background: url("../img/p1_lantern.png") no-repeat center bottom;
	background-size: 100%;
	position: absolute;
	margin: auto;
	top:-3.4%;
	right: 0;
	left: 0;
	width: 45vw;
	height: 71.2vh;
	font-size: 3.506rem;
	padding-top: 31vh;
	text-align: center;
	-wibkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		 -ms-box-sizing: border-box;
		  -o-box-sizing: border-box;
		     box-sizing: border-box;
}

#page1 .p1_lantern:before{
	position: absolute;
	left: 0;
	right: 0;
	top:0;
	bottom:0;
	margin:auto;
	z-index: -1;
	content: "";
	width:30vw;
	height: 30vw;
	background: #d60b3b;
	opacity: .5;
	border-radius: 50%;
	-wibkit-box-shadow: 0 0 10vw 10vw #d60b3b;  
		-moz-box-shadow: 0 0 10vw 10vw #d60b3b;       
		 -ms-box-shadow: 0 0 10vw 10vw #d60b3b; 
	      -o-box-shadow: 0 0 10vw 10vw #d60b3b; 
			 box-shadow: 0 0 10vw 10vw #d60b3b; 
}

#page1 .p1_imooc{
	position:absolute;
	right:0;
	left: 0;
	bottom: 9vh;
	background: url("../img/p1_imooc.png") no-repeat center center;
	background-size: 100%;
	width: 27.656vw;
	height: 18.63vh;
	margin: auto;
}

#page1 .p1_words{
	font-size: 2.134rem;
	position: absolute;
	right: 0;
	left: 0;
	bottom: 48px;
	text-align: center;
	color: #231815;
}

/*   page2    */
#page2{
	display: none;
}
#page2 .bg{
	background: url("../img/p2_bg.jpg") no-repeat center bottom;
	background-size: 100%;
}

#page2 .p2_circle{
	position: absolute;
	left: 0;
	right: 0;
	top:0;
	bottom: 0;
	margin:auto;
	border-radius: 50%;
	background: url("../img/p2_circle_outer.png") no-repeat center center;
	background-size: 100%;
	width: 59.375vw;
	height: 59.375vw;
}

#page2 .p2_circle:before{
	position: absolute;
	left: 0;
	right: 0;
	top:0;
	bottom: 0;
	margin:auto;
	content: "";
	border-radius: 50%;
	background: url("../img/p2_circle_middle.png") no-repeat center center;
	background-size: 100%;
	width: 45.625vw;
	height:45.6275vw;
}

#page2 .p2_circle:after{
	position: absolute;
	left: 0;
	right: 0;
	top:0;
	bottom: 0;
	margin:auto;
	content: "";
	border-radius: 50%;
	background: url("../img/p2_circle_inner.png") no-repeat center center;
	background-size: 100%;
	width: 39.9375vw;
	height:39.9375vw;
}

#page2 .p2_2016{
	position: absolute;
	left: 0;
	right: 0;
	top:0;
	bottom: 0;
	margin:auto;
	background: url("../img/p2_2016.png") no-repeat center center;
	background-size: 100%;
	width: 27.5vw;
	height:6.24vh;
}
/*   page3    */
#page3{
	display: block;
}
#page3 .bg{
	background: url("../img/p3_bg.jpg") no-repeat center bottom;
	background-size: 100%;
}



